.display-container {
  text-align: right;
  font-size: calc(10px + 2vh);
  font-weight: bold;
  overflow: hidden;
  border: 1vmin blue outset;
  width: 96%;
  height: 10vmin;
}

@media only screen and (min-width: 768px) {
  .display-container {
    font-size: calc(10px + 5vh);
  }
}
